p
{
font-size:14pt;
}
p:first-child
{
font-size:10pt;
font-styl:italic;
}

p
{font-size:16mm;
color:RGB(255,99,71);
}

p:lang(pl)
{font-size:23mm;
color:RGB(144,238,144);
}

p:lang(en)
{font-size:30mm;
color:RGB(255,99,71);
}
body
{
background-color:silver;}